resources*
.DS_Store
TaskTracker/TaskTracker.xcodeproj/project.xcworkspace/xcuserdata/reyansh.xcuserdatad/UserInterfaceState.xcuserstate
TaskTracker/TaskTracker.xcodeproj/project.xcworkspace/xcuserdata/*
